@charset "UTF-8";
/**
 * CSS 상수 항목(컬러, 폰트 사이즈, 화면 사이즈 등등)을 이 파일에 정의합니다.
 * 이 파일은 all.css에서 import되어 사용됩니다.
 *
 * [Selector Naming Convention]
 * id : 앞에 3~4자로 종류(ex. btn, form)를 표현하고, 바로 뒤에 고유한 이름을 붙임(한글 가능)
 * class : kebab case
 **/

:root {
	/* 기본 폰트 정보 */
	--base-font-family: "NotoSansKR", "맑은 고딕", Arial, Tahoma;
	--base-font-size: 13px;
	
	--sub-font-family: "SCDream", "맑은 고딕", Arial, Tahoma;
	/* --base-letter-spacing: -0.025em; */

	/* 기본 폰트 색상 */
	--base-text-color: #000;
	--sub-text-color: #888;

	/* 자간 */
	--base-letter-spacing: -0.5px;

	/* 컬러칩 정보 */
	--primary: #366AEE;
	--red: #F84D4D;
	--info: #888;
	/* --error: #FD7A01; */

	/* 사이트 넓이 사이즈 */
	--page-max-width: 1120px;
	--page-width: 1280px;

	/* 기본 배경색 */
	--base-bg-color: #F1F4F8;

	/* 타이틀 폰트 정보 */
	--title-font-size: 24px;
	--sub-font-size: 14px;

	/* disabled */
	--disabled: #bbb;

	/* POPUP 타이틀 폰트 정보 */
	--popup-title-font-size: 20px;
	--popup-sub-font-size: 16px;

	--table-row-height: 28px;

	/* 검색 영역 1칸 넓이 */
	--col-width: 8.333%;
}


/* 전체 스크롤바 custom */
* {
	scrollbar-width: thin;
}
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-track {
	background-color: #4242421a;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb {
	background: #c6c6c6;
	border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
	background: #848484; 
}

/* disabled 요소에 마우스 올렸을때 커서 모양*/
/* :disabled {
	cursor: not-allowed;
	pointer-events: all !important;
} */

/* [웹접근성] 전체 사이트의 focus 가능한 요소에 outline을 주려면 아래 comment를 풀 것. */
:focus {
	outline: 0;
	/* outline: solid 2px red !important; outline-offset: 0; */
}

/* placeholder */
::placeholder {
	color: #888;
	font-size: 12px;
}

xmp {
	white-space: pre-wrap;
}


/************************************************
	COLOR
************************************************/
.text-primary {
	color: var(--primary) !important;
}
.text-red {
	color: var(--red) !important;
}
.text-warning {
	color: var(--warning) !important;
}
.text-info {
	color: var(--info) !important;
}

.bg-primary {
	background-color: var(--primary);
}
.bg-red {
	background-color: var(--red);
}
.bg-warning {
	background-color: var(--warning);
}


/************************************************
	ALIGN
************************************************/
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }


/************************************************
	BORDER
************************************************/
.bt0 { border-top: 0 !important; }


/************************************************
	MARGIN
************************************************/
.mt0 { margin-top: 0 !important; }
.mt20 { margin-top: 20px !important; }

.ml7 { margin-left: 7px !important; }

/************************************************
	PADDING
************************************************/
.pd0 { padding: 0 !important; }


/************************************************
	WIDTH
************************************************/
.w100 { width: 100px; }